<h2>Hello, enter your name in order to start the test for erudition</h2>
<hr>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
	<form class="form-inline" method="post" action="/index">
		<div class="form-group">
		  <label>Name:</label>
		  <input type="text" class="form-control" name="name">
		  <button type="submit" class="btn btn-default">Ready</button>
		</div>
	</form>
	</div>
</div>