<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <title>Questions</title>
</head>
<body>
    
    <main role="main" class="container">
        <%= yield %>
    </main>
    <script src="/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
</body>
</html>